<div id="wrapper">

    <!--NavBar-->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" routerLink="#">
            <h1 id="wrapperHeader">Prep'n</h1>
        </a>

        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <div class="navbar-nav mx-auto">

                <ul class="navbar-nav  ml-auto mt-2 mt-lg-0 ">



                    <li class="nav-item"> <a class="nav-link" routerLink="/"> Home </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/AboutUs">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Service"> Service</a>
                    </li>


                </ul>
            </div>


        </div>
    </nav>

    <div class="container" style="position: relative; margin: 50px 60px">

        <div class="row">


            <div class=".col-sm-3half wow lightSpeedIn" data-wow-delay="0.7s">


                <h3 id="imageHeader" style="padding: 0px 100px 30px">
                    <span style="color: red"> BIG </span> Meals Made
                    <span>Easy</span>
                </h3>


            </div>


            <div class=" .col-sm-8half wow fadeIn ">





            </div>


        </div>






    </div>


    <div class="img"><img src="assets/Assets/img/home.png
        " class="img-fluid float-right" alt="Responsive image"></div>
</div>