<body>
    <div id="wrapper">

        <!--NavBar-->
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">COMPANY LOGO</a>

            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <div class="navbar-nav mx-auto">

                    <ul class="navbar-nav  ml-auto mt-2 mt-lg-0 ">

                        <li class="nav-item active"> <a class="nav-link" href="/"> <i class="fa fa-2x fa-home"
                                    aria-hidden="true"></i> </a>
                        </li>

                        <li class="nav-item"> <a class="nav-link" href="/"> Home </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Service"> Service</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/AboutUs">About Us</a>
                        </li>

                    </ul>
                </div>

                <div class="social-icons-header">
                    <a href="#"><i class="fab fa-facebook-f"></i> </a>
                    <a href="#"><i class="fab fa-instagram"></i> </a>
                    <a href="#"><i class="fab fa-twitter"></i> </a>
                </div>
            </div>
        </nav>

        <div class="container p-5 m-5">
            <div class="row wow" data-wow-delay="0.4s">
                <div class="col col-md-2 animated slideInLeft ">
                    <h1>
                        <em>This is</em>
                    </h1>
                </div>
                <div class="col col-md-2">
                    <button type="button" name="btn-1" id="rex-btn" class="btn btn-warning btn-lg"
                        (click)="animate('#rex-btn', 'bounceInDown')">
                        <h1>Rex</h1>
                    </button>
                </div>
            </div>
        </div>
    </div>