<!--#region AboutPage Content  -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/"
          ><img src="Assets/images/user_img.png" class="zoomProfile" />
        </a>
      </div>
      <div class="col-sm">
        <p class="h4">
          <br />
          <br />
          <br />
          <strong
            >My name is Jason Eddy N'Guessan, a software Developer with
   a speciality in delivering Superb Products!
          </strong>
        </p>
      </div>
    </div>
  </div>
</article>
<br />
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Expertise</th>
      <th scope="col">Languages</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Web Programming</td>
      <td>ASP.NET, JavaScript, TypeScript, CSS</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Web Frameworks/Libraries</td>
      <td>Bootstrap4, CSS Grid, Node.JS</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mobile</td>
      <td>Java</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cloud</td>
      <td>C#, ASP.NET CORE, AWS</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>General Purpose</td>
      <td>Python, SQL</td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td>Open Source Develoment</td>
      <td>Github, StackoverFlow</td>
    </tr>
  </tbody>
</table>

<hr id="hrDashed" />

<center>
  <h3>Resume</h3>
  <div class="graph-outline">
    <a href="Assets/texts/my-resume.pdf"
      ><img src="Assets/images/pdf-icon.png" style="height:40px" alt="" />
    </a>
  </div>
</center>
<!--#endregion -->
