<hr style="max-width: 800px; margin-right:0;" width="50%" />
<article>
  <p class="text-right">
    <em>
      <strong style="background-color:black" class="text-light">
        For any Startup inquiries contact DIRECTLY at
        jnguessa@my.centennialcollege.ca
      </strong>
      <br />
      <small>
        Subject Line: Startup Inquiry
      </small>
    </em>
  </p>
</article>
<hr style="max-width: 800px; margin-right:0;" width="50%" />

<br />

<form id="myForm" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="fName">first Name</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            id="fName"
          />
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="lName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="lName" />
        </div>

        <div class="form-group">
          <label for="cName">Company Name</label>

          <input
            type="text"
            class="form-control"
            placeholder="optional"
            name="CompanyName"
            id="cName"
          />
        </div>

        <div class="form-group">
          <label for="pNumber">Phone Number</label>

          <input
            type="number"
            class="form-control"
            name="phoneNumber"
            id="pNumber"
          />

          <small id="pNumberDesc" class="form-text"
            >This Number will be our Primary means of communication</small
          >
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="emailAddress"
            id="email"
          />
          <small id="emailDesc" class="form-text"
            >This Email will be our Innitial means of communication</small
          >
        </div>

        <div class="form-group">
          <label for="subject">Subject</label>
          <input
            type="text"
            class="form-control"
            name="subjectLine"
            id="subject"
          />
        </div>

        <div class="form-group">
          <label for="txtMessage">
            Message
          </label>
          <textarea
            class="form-control"
            id="txtMessage"
            name="messageBox"
            rows="5"
          ></textarea>
          <small id="messageDesc" class="form-text"
            >Recommended to keep it Short & Sweet! :)</small
          >
        </div>
        <br />
        <br />
       
      </div>
    </div>
  </div>

   <div class="form-group" >
            <button
              type="submit"
              class="btn btn-lg btn-info btn-block"
              id="submitBtn"
            >
              Submit
            </button>
        </div>
</form>
