<!--#region HomePage Content  -->

<p class="lead">
  A Man On His Journey To Fix The World's Struggles With 1 Line Of Code...
  <br />

  <center>
    <div class="btn-group">
      &ensp; &ensp; &ensp; &ensp;
      <a href="/about" class="btn btn-success">
        Check
        <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>
      </a>

      &ensp; &ensp; &ensp; &ensp;
      <a href="/about" class="btn btn-danger">
        Him
        <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>
      </a>
      &ensp;&ensp;&ensp;&ensp;
      <a href="/about" class="btn btn-info">
        Out
        <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>
      </a>
    </div>
  </center>
  <!--#endregion -->
</p>
