<div class="container">

    <header class="animated slideInDown text-center bg-info text-white p-4">
        <h1 class="display4">Animate.css Sandbox</h1>
    </header>
    <section id="section-1" class=" animated slideInLeft bg-dark p-5 my-3 text-white">
        <h1>Section One</h1>
        <p> Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Fuga veritatis quod
            nobis maxime dolorum voluptate commodi minima a
            facere, in pariatur! Reprehenderit cumque cupiditate
            eius aliquam quaerat, adipisci omnis culpa magnam
            architecto nostrum! Impedit a illum eveniet sequi dicta quam? </p>
    </section>

    <section id="section-2" class="wow animated slideInRight bg-dark p-5 my-3 text-white">
        <h1 id="anim-head">Section One</h1>
        <p id="anim-body"> Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Fuga veritatis quod
            nobis maxime dolorum voluptate commodi minima a
            facere, in pariatur! Reprehenderit cumque cupiditate
            eius aliquam quaerat, adipisci omnis culpa magnam
            architecto nostrum! Impedit a illum eveniet sequi dicta quam? </p>
    </section>

    <button id="btn-1" class="btn btn-primary"></button>
    <br><br><br>
    <br><br>

</div>