<!--#region ProjectPage Content-->
<article class="bg-dark text-light">
  <hr class="my-4" />

  <section class="text-info" style="background-color:bisque">
    <h4>RESUME API</h4>
  </section>
  <br />

  <div class="table-responsive">
    <table>
      <td>
        <h5>
          <strong>
            <em>
              Built a Complex Resume API in Cloud Development (ASP.NET CORE,
              <br />
              AWS, SQL). As the lead developer of this group of two, I was
              tasked to build an API scalable in Today's Industry. The API was
              my biggest work <br />
              & by far, my biggest success.
            </em>
          </strong>
        </h5>
      </td>

      <td>
        <img
          alt=""
          src="/Assets/images/api_Proj.jpg"
          class="zoom pull-right img-responsive"
        />
      </td>
    </table>
  </div>
  <br />

  <article style="background-color:lavender">
    <section class="text-danger" style="background-color:pink">
      <h4>CYBORG WARS</h4>
    </section>
    <br />

    <div class="table-responsive">
      <table>
        <td style="padding-right:2em;">
          <img
            alt=""
            src="/Assets/images/web_Proj.jpg"
            class="zoom pull-right img-responsive"
          />
        </td>

        <td>
          <h5 style="color: rgb(21, 126, 161)">
            <strong>
              <em>
                Cyborg Wars is a Front-End Web Game built with TypeScript
                (transcompiled from JavaScript) and Node.JS tools. Being the
                leader of this group of three, my role was to actualize the Game
                Designer's vision to reality; By going above & beyond my soft &
                technical skills, the

                <div class="btn-group">
                  &ensp;<a
                    href="https://mileysaysomething.github.io/"
                    class="btn btn-success"
                  >
                    game
                    <i
                      class="glyphicon glyphicon-floppy-disk"
                      aria-hidden="true"
                    ></i> </a
                  >&ensp;
                </div>
                became a reality.
                <br />
              </em>
            </strong>
          </h5>
        </td>
      </table>
    </div>
  </article>

  <br />

  <article style="background-color:darkslategray">
    <section style="background-color:darkkhaki">
      <h4>MYPARKING</h4>
    </section>
    <br />

    <div class="table-responsive">
      <table>
        <td>
          <h5>
            <strong>
              <em>
                MyParking is an Android-Based Application that utilizes
                Maps-API, Java, and SQL to find the nearest parking slot
                avalaible in the city of Toronto.
                <br />
                The user would be able to select, book, and pay for their
                parking spot. In a group of 6, with 3 contributing developers, I
                was responsible for managing, & fixing any database issues. The
                android app accomedated to the client's requirements.

                <br />
              </em>
            </strong>
          </h5>
        </td>
        <td style="padding-left:2em;">
          <img
            alt=""
            src="/Assets/images/mobile_proj.png"
            class="zoom pull-right img-responsive"
          />
        </td>
      </table>
    </div>

    <hr class="my-4" />
  </article>
  <br /><br />
  <center>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/Services" role="button">
        Head To Services</a
      >
    </p>
    <br />
  </center>
  <br />
  <br />
</article>
<!--#endregion -->
