<!--#region service Page-->
<article class="text-dark ">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-3">
          <img class="zoom" src="/Assets/images/service.jpeg" alt="" /> <br />
          <br />
        </div>
      </div>
      <div class="col">
        <center>
          <em>
            <h4>
              <br />
              At the moment I offer Services in
              <br />
              Mobile and Web Development.
            </h4>
          </em>
        </center>
      </div>
    </div>
  </div>

  <br />
  <br />

  <center>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/Contact" role="button">
        Head To Contact Page</a
      >
    </p>
    <br />
  </center>

  <!--#endregion-->
</article>
