<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <h4 style="font-weight:bold">&copy; Jason Eddy N'Guessan</h4>
    <div style="text-align: right;">
      <a href="https://www.linkedin.com/in/jasonguessan/">
        <i class="fab fa-linkedin-in fa-3x" aria-hidden="true"></i>
      </a>
      &ensp; &ensp;

      <a href="https://github.com/Ifavhoney">
        <i class="fab fa-github-alt fa-3x " style="color:rgb(27, 14, 14); " aria-hidden="true"></i>
      </a>
    </div>
  </nav>
</footer>
<script>
  new WOW().init();
</script>