<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ExStudent</title>
    <!--Css Sections-->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="animate.css/animate.css">


    <link rel="stylesheet" href="Content/app.css">


</head>

<body>
    <div id="wrapper">

        <!--NavBar-->
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">COMPANY LOGO</a>

            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <div class="navbar-nav mx-auto">

                    <ul class="navbar-nav  ml-auto mt-2 mt-lg-0 ">

                        <% if ( title == "Home") { %>

                        <li class="nav-item active"> <a class="nav-link" href="/"> <i class="fa fa-home"
                                    aria-hidden="true"></i> </a>
                        </li>

                        <% } else { %>
                        <li class="nav-item"> <a class="nav-link" href="/">
                                Home </a> </li>

                        <%  }   %>

                        <% if ( title == "Service") { %>
                        <li class="nav-item active">
                            <a class="nav-link" href="/Service"> <i class="fa fa-truck" aria-hidden="true"></i>
                            </a>
                        </li>

                        <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/Service"></i>
                                Service</a>
                        </li>
                        <% } %>

                        <% if ( title == "AboutUs") { %>

                        <li class="nav-item active"> <a class="nav-link" href="/AboutUs"> <i class="fa fa-user"
                                    aria-hidden="true"></i></a>
                        </li>

                        <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/AboutUs">About Us</a>
                        </li>
                        <% } %>


                    </ul>
                </div>

                <div class="social-icons-header">
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>



            </div>

        </nav>


        sssssssssssssssssss

    </div>