<div class="container">

  <!--Helping Students-->



  <div class="features">

    <!--Features-->


    <Section class="text-center">

      <br> <br> <br>
      <h1>Features</h1>
      <br>

      <div class="row ">
        <div class="col col-md-4 wow rex-feature-economy" data-wow-delay="0.7s">
          <i class="fa fa-usd fa-5x  "></i>
          <h5>
            Economy
          </h5>

          <p class="text-center">
            <em>
              Surveyed affordable for students
            </em>
          </p>

        </div>

        <div class="col col-md-4 wow animated zoomInDown delay-2s">
          <i class=" fa fa-battery-full fa-5x" aria-hidden="true"></i>

          <h5>
            Focus
          </h5>

          <p class="text-center">
            <em>
              Worry-less about off-campus neccessaties
            </em>
          </p>
        </div>

        <div class="col col-md-3 wow rex-feature-private delay-2s">
          <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>

          <h5>
            Private
          </h5>

          <p class="text-center">
            <em>
              Ran by your community
            </em>
          </p>

        </div>

      </div>
    </Section>


    <br> <br> <br>

  </div>

  <div class="services">

    <hr />
    <br> <br> <br>

    <div class="text-right">

      <i class="fa fa-android fa-2x" aria-hidden="true"></i>
      <i class="fa fa-apple fa-2x" aria-hidden="true"></i>
    </div>

    <div class="row">
      <div class="col col-md-4 wow  rex-feature-responsive" data-wow-delay=" 0.4s">
        <img src="assets/Assets/img/Sprites/iphone.png" alt="">
      </div>
      <div class="col col-md-6 wow rex-feature-responsive" data-wow-delay="0.4s">

        <br> <br>
        <div class=" m-5">

          <h4>
            R e s p o n s i v e
          </h4>

          <h6>
            <em>

              Combined with latest technology, and a great team <br>
              The result
              is a crazy <strong> Reliable </strong> app.
            </em>

          </h6>

        </div>
      </div>

    </div>


  </div>
</div>
<!-- Products -->


<div>


  <br><br><br>

  <div class="products">

    <hr />

    <div class="services">



      <div class="container">


        <div class="row">
          <div class="col col-md-3">

          </div>

          <div class="col col-md-4 text-center wow rex-num slower" data-wow-delay="0.4s">
            <img class="img-responsive image-container-number1" src="assets/Assets/img/Sprites/number1.png" alt="">

          </div>
        </div>

        <div class="row wow rex-content" data-wow-delay="0.9s">
          <div class="col col-md-6 text-left">
            <h4>
              Moving
            </h4>

            <h6>
              <em>

                We Help with getting you In, and out of your dorms
                <br>
                Don't know what to bring? We can help you! <br>
                Together we can take care of the many factors <br>
                & make your year a piece of cake :)


              </em>

            </h6>

          </div>
          <div class="col col-md-6 text-right">

            <img class="img-responsive image-container" src="assets/Assets/img/Sprites/box.jpg" alt="">

          </div>

        </div>
        <br><br><br>


        <div class="row">
          <div class="col col-md-4">

          </div>

          <div class="col col-md-5 wow rex-num slower">
            <img class="img-responsive image-container-number2" src="assets/Assets/img/Sprites/number2.png" alt="">

          </div>
        </div>

        <div class="row wow rex-content" data-wow-delay="0.9s">

          <div class="col col-md-4 ">

            <img class="img-responsive image-container" src="assets/Assets/img/Sprites/grocery.png" alt="">


          </div>

          <div class="col col-md-4 text-right p-5">

          </div>

          <div class="col col-md-4 text-right">


            <h4>
              Grocery
            </h4>

            <h6>
              <em>



                Rex offers <strong> Monthly </strong>to <strong>Bi-weekly </strong> grocery
                <br>deliveries to
                students living on
                residence.
                Wether you are vegetarian, or a fish addict, or plain hungry

                we get you items by the <strong>BULK! </strong>


              </em>

            </h6>


          </div>

        </div>

        <br><br><br>

        <div class="row">
          <div class="col col-md-4">

          </div>

          <div class="col col-md-5 wow rex-num slower">
            <img class="img-responsive image-container-number2" src="assets/Assets/img/Sprites/number3.png" alt="">

          </div>
        </div>

        <div class="row wow rex-content" data-wow-delay="0.9s">

          <div class="col col-md-6 text-left">
            <br><br><br>


            <h4>
              Eat In
            </h4>

            <h6>
              <em>


                Be delivered Caf food to wherever you are on Campus <br>
                <strong> Just order </strong> - <strong>wait a couple</strong> - and <strong>Eat
                  In!</strong>



              </em>

            </h6>


          </div>
          <div class="col col-md-5 text-right">
            <img class="img-responsive image-container" src="assets/Assets/img/Sprites/timer.png" alt="">




          </div>

        </div>


      </div>

      <br> <br> <br>

    </div>

  </div>
</div>